<style>
    .axis {
      font: 10px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .brush .extent {
      stroke: #fff;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
    text {
    	fill: #565656;
    	font-size: 11px;
    	font-family: Helvetica, Arial, "sans serif";
    }
</style>
